<nav class="navbar">
    <div class="search-box d-flex align-items-center">
        <a class="navbar-brand" routerLink="">
            <img src="../../../../assets/image/logo.png" width="40px" height="40px" alt="facebook">
        </a>
        <!-- <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="search-input rounded-pill px-3 d-flex align-items-center">
            <span class="material-icons">search</span>
            <input type="text" placeholder="Tìm kiếm trên Facebook" class="p-2">
        </div>
    </div>


    <div class="common mx-auto">
        <ul class="navbar-nav flex-row jutify-content-between w-100 align-items-center">
            <li class="nav-item home">
                <a class="nav-link btn-custom" routerLink='facebook/community' routerLinkActive="active">
                    <span class="material-icons md-30">home</span>
                </a>
            </li>
            <li class="nav-item news">
                <a class="nav-link btn-custom" routerLink='facebook/news' routerLinkActive="active">
                    <span class="material-icons md-30">people</span>
                </a>
            </li>
            <li class="nav-item watch">
                <a class="nav-link btn-custom">
                    <span class="material-icons md-30">live_tv</span>
                </a>
            </li>
            <li class="nav-item marketplace">
                <a class="nav-link btn-custom">
                    <span class="material-icons md-30">storefront</span>
                </a>
            </li>
            <li class="nav-item group">
                <a class="nav-link btn-custom">
                    <span class="material-icons md-30">groups</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="personal">
        <ul class="navbar-nav flex-row justify-content-end">
            <li class="nav-item user">
                <a class="nav-link rounded-pill d-flex align-items-center px-1">
                    <img src="https://via.placeholder.com/150" class="rounded-circle" width="28" height="28">
                    <h5 class="mb-0 ml-1 font-weight-bold">usernam</h5>
                </a>
            </li>
            <li class="nav-item add-post">
                <a class="nav-link rounded-circle">
                    <span class="material-icons ">add</span>
                </a>
            </li>
            <li class="nav-item messages">
                <a class="nav-link rounded-circle">
                    <span class="material-icons">forum</span>
                </a>
            </li>
            <li class="nav-item notify">
                <a class="nav-link rounded-circle" mat-raised-button matBadge="1" [matBadgeHidden]="hidden"
                    (click)="toggleBadgeVisibility()">
                    <span class="material-icons">notifications</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-circle">
                    <span class="material-icons md-30">arrow_drop_down</span>
                </a>
            </li>
        </ul>
    </div>
</nav>