.navbar {
  .search-box {
    @media (min-width: 1300px) {
      width: 320px;
      max-width: 320px;
    }

    @media (min-width: 960px) and (max-width: 1300px) {
      width: 300px;
      max-width: 300px;
    }

    @media (min-width: 540px) and (max-width: 1290px) {
      width: 100px;
      max-width: 100px;
      .navbar-brand {
        margin-right: 0.3rem;
      }
    }

    .search-input {
      max-width: 280px;
      height: 40px;
      background-color: #f0f2f5;
      input {
        border: none;
        background: none;
        &:focus {
          outline: none;
          border: none;
        }
      }
    }

    @media (min-width: 540px) and (max-width: 1300px) {
      .search-input {
        width: 40px;
        padding: 0.5rem !important;
        input {
          display: none !important;
        }
      }
    }
  }
  .common {
    @media (min-width: 960px) {
      width: 720px;
      max-width: 720px;
    }

    @media (min-width: 960px) and (max-width: 1300px) {
      width: 450px;
      max-width: 450px;
    }

    @media (min-width: 540px) and (max-width: 960px) {
      width: 300px;
      max-width: 300px;
    }

    .nav-item {
      width: 20%;
      text-align: center;
    }
    .btn-custom {
      padding: 0.275rem 0.75rem;
      border-radius: 0.25rem;
      text-align: center;
      &:hover {
        background-color: #f5f5f5;
      }
      &.active {
        position: relative;
        color: #1877f2;
        &::after {
          content: "";
          position: absolute;
          bottom: -12px;
          left: 0;
          right: 0;
          border-bottom: 3px solid #1877f2;
        }
        &:hover {
          background-color: white;
        }
      }
    }
  }
  .personal {
    @media (min-width: 1300px) {
      width: 320px;
      max-width: 320px;
    }

    @media (min-width: 540px) and (max-width: 1290px) {
      width: 192px;
      max-width: 192px;
    }

    .nav-item {
      margin-left: 0.5rem;
      .nav-link {
        text-align: center;
        background-color: #f0f2f5;
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:hover {
          background-color: #d6d6d6;
        }
      }
    }
    .user {
      @media (min-width: 540px) and (max-width: 1290px) {
        display: none !important;
      }
      .nav-link {
        width: 100px;
        background-color: white;
        line-height: 1;
        &:hover {
          background-color: #d6d6d6;
        }
        h5 {
          font-size: 15px;
        }
      }
    }
  }
}
