<div class="new d-flex align-items-center justify-content-between">
    <div class="card">
        <img src="https://media.travelmag.vn/files/thuannguyen/2020/04/25/cach-chup-anh-dep-tai-da-lat-1-2306.jpeg"
            class="card-img-top" alt="news">
        <div class="card-image-user">
            <img src="https://kenh14cdn.com/thumb_w/600/2020/9/26/photo-16-16011088147401849082420-crop-16011090302842010698918.png"
                alt="user" width="28px" height="28px" class="rounded-circle custom-border">
        </div>
        <p class="name font-weight-bold text-white">User Name</p>
    </div>
    <div class="card">
        <img src="https://media.travelmag.vn/files/thuannguyen/2020/04/25/cach-chup-anh-dep-tai-da-lat-1-2306.jpeg"
            class="card-img-top" alt="news">
        <div class="card-image-user">
            <img src="https://kenh14cdn.com/thumb_w/600/2020/9/26/photo-16-16011088147401849082420-crop-16011090302842010698918.png"
                alt="user" width="28px" height="28px" class="rounded-circle custom-border">
        </div>
        <p class="name font-weight-bold text-white">User Name</p>
    </div>
    <div class="card">
        <img src="https://media.travelmag.vn/files/thuannguyen/2020/04/25/cach-chup-anh-dep-tai-da-lat-1-2306.jpeg"
            class="card-img-top" alt="news">
        <div class="card-image-user">
            <img src="https://kenh14cdn.com/thumb_w/600/2020/9/26/photo-16-16011088147401849082420-crop-16011090302842010698918.png"
                alt="user" width="28px" height="28px" class="rounded-circle custom-border">
        </div>
        <p class="name font-weight-bold text-white">User Name</p>
    </div>
    <div class="card">
        <img src="https://media.travelmag.vn/files/thuannguyen/2020/04/25/cach-chup-anh-dep-tai-da-lat-1-2306.jpeg"
            class="card-img-top" alt="news">
        <div class="card-image-user">
            <img src="https://kenh14cdn.com/thumb_w/600/2020/9/26/photo-16-16011088147401849082420-crop-16011090302842010698918.png"
                alt="user" width="28px" height="28px" class="rounded-circle custom-border">
        </div>
        <p class="name font-weight-bold text-white">User Name</p>
    </div>
    <div class="card">
        <img src="https://media.travelmag.vn/files/thuannguyen/2020/04/25/cach-chup-anh-dep-tai-da-lat-1-2306.jpeg"
            class="card-img-top" alt="news">
        <div class="card-image-user">
            <img src="https://kenh14cdn.com/thumb_w/600/2020/9/26/photo-16-16011088147401849082420-crop-16011090302842010698918.png"
                alt="user" width="28px" height="28px" class="rounded-circle custom-border">
        </div>
        <p class="name font-weight-bold text-white">User Name</p>
    </div>
    <div class="card">
        <img src="https://media.travelmag.vn/files/thuannguyen/2020/04/25/cach-chup-anh-dep-tai-da-lat-1-2306.jpeg"
            class="card-img-top" alt="news">
        <div class="card-image-user">
            <img src="https://kenh14cdn.com/thumb_w/600/2020/9/26/photo-16-16011088147401849082420-crop-16011090302842010698918.png"
                alt="user" width="28px" height="28px" class="rounded-circle custom-border">
        </div>
        <p class="name font-weight-bold text-white">User Name</p>
    </div>

</div>
<div class="post-status">

</div>