<div class="sign-up shadow bg-white rounded">
    <div class="p-3 pb-2 border-bottom">
        <h3 class="font-weight-bold mb-1">Đăng ký</h3>
        <p>Nhanh chóng và dễ dàng</p>
    </div>
    <form class="p-3 pb-4">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Họ và tên">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Mật khẩu">
        </div>
        <span>Bằng cách nhấp vào Đăng ký, bạn đồng ý với Điều khoản, Chính sách dữ liệu và Chính sách cookie của chúng
            tôi. Bạn có thể nhận được thông báo của chúng tôi qua SMS và hủy nhận bất kỳ lúc nào.</span>
        <div class="text-center">
            <button type="button" class="btn btn-success w-50 font-weight-bold">Đăng ký</button>
        </div>
    </form>
</div>