<div class="sidebar">
    <div class="list-group border-bottom pb-2">
        <a type="button" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img src="https://kenh14cdn.com/thumb_w/600/2020/9/26/photo-16-16011088147401849082420-crop-16011090302842010698918.png"
                    width="36" height="36" alt="user" class="rounded-circle">
                <p class="font-weight-bold ml-2">Husky</p>
            </div>
        </a>
        <a type="button" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img src="../../../../assets/image/friend.png" width="36" height="36" alt="user" class="rounded-circle">
                <p class="font-weight-bold ml-2">Bạn bè</p>
            </div>
        </a>
        <a type="button" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img src="../../../../assets/image/group.png" width="36" height="36" alt="user" class="rounded-circle">
                <p class="font-weight-bold ml-2">Nhóm</p>
            </div>
        </a>
        <a type="button" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img src="../../../../assets/image/page.png" width="36" height="36" alt="user" class="rounded-circle">
                <p class="font-weight-bold ml-2">Trang</p>
            </div>
        </a>
        <a type="button" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img src="../../../../assets/image/lastest.png" width="36" height="36" alt="user"
                    class="rounded-circle">
                <p class="font-weight-bold ml-2">Gần đây</p>
            </div>
        </a>
        <a type="button" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img src="../../../../assets/image/favorite.png" width="36" height="36" alt="user"
                    class="rounded-circle">
                <p class="font-weight-bold ml-2">Yêu thích</p>
            </div>
        </a>
        <a type="button" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <div class="more">
                    <span class="material-icons">expand_more</span>
                </div>
                <p class="font-weight-bold ml-2">Xem thêm</p>
            </div>
        </a>
    </div>
    <div class="shortcuts mt-3">
        <div class="mb-2">
            <h3 class="font-weight-bold">Lối tắt của bạn</h3>
        </div>
        <div class="list-group">
            <a type="button" class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center">
                    <img src="https://kenh14cdn.com/thumb_w/600/2020/9/26/photo-16-16011088147401849082420-crop-16011090302842010698918.png"
                        width="36" height="36" alt="user" class="custom-radius">
                    <p class="font-weight-bold ml-2">Nhóm yêu thích 1</p>
                </div>
            </a>
            <a type="button" class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center">
                    <img src="https://kenh14cdn.com/thumb_w/600/2020/9/26/photo-16-16011088147401849082420-crop-16011090302842010698918.png"
                        width="36" height="36" alt="user" class="custom-radius">
                    <p class="font-weight-bold ml-2">Nhóm yêu thích 1</p>
                </div>
            </a>
        </div>
    </div>
</div>