.sidebar {
  .more {
    background-color: #e4e6eb;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    padding: 6px 0;
  }
  .shortcuts {
    h3 {
      color: #8a8a8a;
    }
    .custom-radius {
      border-radius: 10px;
    }
  }
}
